$browse: #B38B59;
$green: #113E21;
$gray: #F0F0F0;
$white: #FEFEFE;
.cart{
    position: fixed;
     z-index: 20;
    background-color: $white;
    width: 350px;
    max-height: 500px;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 15px 1px gray;
    opacity: 0;
    animation: cart_start 0.5s forwards;
    color: $green;
    &::before{
        content: "";
        display: block;
        position: fixed;
         top: 50px;
         right: 0.5%;
         z-index: 15;
        width: 350px;
        height: 50px;
    }
    &::after{
        content: "";
        display: block;
        // background-color: white;
        position: fixed;
         top: 90px;
         right: 60px;
         z-index: 20;
        // width: 20px;
        // height: 20px;
        border: {
            bottom: 7px $white solid;
            right: 8px transparent solid;
            left: 8px transparent solid;
        };
    }
    &_name{
        display: flex;
        justify-content: space-between;
        margin: 5px 0 10px;
        padding: 0 5px;
        &_cart{
            display: flex;
            justify-content: space-between;
            width: 27%;
            align-items: center;
        }
    }
    .null{
        background-color: white;
        text-align: center;
    }
    &_list{
        background-color: $gray;
        width: 100%;
        max-height: 400px;
        padding: 5px 5px 0;
        border-radius: 5px;
        overflow-x: scroll;
        transition: 0.25s linear;
        &:hover{
            opacity: 1;
            cursor: pointer;
        }
        &_item{
            display: flex;
             justify-content: flex-start;
            position: relative;
            background-color: $white;
            height: 80px;
            margin: 0 0 5px;
            padding: 1%;
            border-radius: 5px;
            align-items: center;
            &_img{
                aspect-ratio: 1;
                height: 100%;
                border-radius: 5px;
            }
            &_infor{
                &_name{
                    font-size: 15px;
                }
                &_price,
                &_quantity{
                    font-size: 13px;
                }
            }
            &_del{
                position: absolute;
                 right: 20px;
                 top: 50%;
                 transform: translateY(-50%);
                opacity: 0.5;
                transition: 0.25s linear;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
    &_btn{
        width: 99%;
        display: flex;
        justify-content: space-between;
        &_del,
        &_buy{
            border: unset;
            background-color: $white;
            width: calc(50% - 4px);
            padding: {
                top: 5px;
                bottom: 5px;
            };
            margin: 5px 0 0;
            border: 1px $green solid;
            border-radius: 5px;
            letter-spacing: 2px;
            color: $green;
            font-size: 13px;
            transition: 0.25s linear;
            &:hover,
            &:active{
                background-color: $green;
                color: $gray;
            }
        }
    }
}

@keyframes cart_start {
    from{
        opacity: 0;
        right: -350px;
        top: 97px;
    }
    to{
        right: 0.5%;
        top: 97px;
        opacity: 1;
    }
}