.slideshow {
    position: relative;
    // height: 70vh;
    // width: 1905px;
    // border: 1px solid black;
    display: flex;
    justify-content: center;
    &_img {
        height: 500px;
        width: 100%;

    }
    &_contents {
        background-color: rgba(0, 0, 0, 0.151);
        width: 100%;
        height: 100%;
        position: absolute;
        // border: 1px solid black;

        .prev, .next {
            display: inline-block;
            position: absolute;
            z-index: 12;
            top: 50%;
            transform: translateY(-50%);
        
            width: 110px;
            height: 100%;
            
            font-size: 16px;
            font-weight: 400;

            color: rgba(255, 255, 255, 0.475);
            background-color: transparent;

            border: none;
            outline: none;
            cursor: pointer;
            pointer-events: auto;
            box-shadow: none;
            transition: 0.5s ease;

            &:focus, &:active {
                outline: none;
            }

            &:hover {
                box-shadow: rgba(48, 48, 58, 0.556) 0px 7px 29px 0px;
            }

            .buttonText {
                display: block;
                position: relative;
                pointer-events: none;

                &[aria-hidden="true"] {
                    visibility: hidden;
                }
            }
        }

        .prev {
            left: 0px;
            background-image: linear-gradient(270deg, transparent, rgba($color: #161616, $alpha: 0.5));
        }

        .next {
            right: 0px;
            background-image: linear-gradient(-270deg, transparent, rgba($color: #161616, $alpha: 0.5));
        }

        // .prev {
        //     left: 0;
        //     padding-left: 60px;

        //     .buttonText {
        //         display: block;
        //         position: relative;

        //         &::before {
        //             content: "";
        //             display: block;
        //             position: absolute;
        //             left: -20px;
        //             top: -6.2px;
        //             rotate: -60deg;
        //             background-color: rgba(255, 255, 255, 0.475);
        //             height: 1px;
        //             width: 35px;
        //         }
        //         &::after {
        //             content: "";
        //             display: block;
        //             position: absolute;
        //             left: -20px;
        //             bottom: -6.2px;
        //             rotate: 60deg;
        //             background-color: rgba(255, 255, 255, 0.475);
        //             height: 1px;
        //             width: 35px;
        //         }
        //         &:active,
        //         &:hover {
        //             cursor: pointer;
        //             &::after,
        //             &::before {
        //                 animation: prev 0.25s 0s forwards;
        //                 background-color: white;
        //             }
        //             color: white;
        //         }
        //     }
        // }
        // .next {
        //     right: 0;

        //     .buttonText {
        //         position: relative;
        //         &::before {
        //             content: "";
        //             display: block;
        //             position: absolute;
        //             right: 43px;
        //             top: -6.2px;
        //             rotate: -120deg;
        //             background-color: rgba(255, 255, 255, 0.475);
        //             height: 1px;
        //             width: 35px;
        //         }
        //         &::after {
        //             content: "";
        //             display: block;
        //             position: absolute;
        //             right: 43px;
        //             bottom: -6.2px;
        //             rotate: 120deg;
        //             background-color: rgba(255, 255, 255, 0.475);
        //             height: 1px;
        //             width: 35px;
        //         }
        //         &:active,
        //         &:hover {
        //             cursor: pointer;
        //             &::after,
        //             &::before {
        //                 animation: next 0.25s 0s forwards;
        //                 background-color: white;
        //             }
        //             color: white;
        //         }
        //     }
        // }

        &_content {
            position: absolute;
            z-index: 10;
            top: 100px;
            left: 200px;
            color: aliceblue;
            .title {
                display: inline-block;
                opacity: 0;
                font-size: 40px;
                letter-spacing: 5px;
                margin-bottom: 20px;
                margin-left: 0;
                animation: content_to_left 1s 0s forwards;
            }
            .content {
                opacity: 0;
                padding-left: 2px;
                font-size: 15px;
                width: 500px;
                letter-spacing: 1px;
                animation: content_to_left 1s 0.7s forwards;
            }
            .btnchitiet {
                display: inline-block;
                opacity: 0;
                background-color: aliceblue;
                border: 1px solid aliceblue;
                padding: 10px 30px;
                color: rgb(61,61,61);
                font-size: 12px;
                letter-spacing: 2.5px;
                animation: content_to_left_btn 1s 1s forwards;
                transition: 0.25s;
                &:active,
                &:hover {
                    background-color: rgba(240, 248, 255, 0);
                    color: aliceblue;
                }
            }
        }
    }
}

@keyframes prev {
    to {
        left: -25px;
    }
}

@keyframes next {
    to {
        right: 38px;
    }
}

@keyframes content_to_left {
    from {
        margin-left: 30px;
        opacity: 0;
    }
    to {
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes content_to_left_btn {
    from {
        margin: 10px 20px 10px 50px;
        opacity: 0;
    }
    to {
        margin: 10px 20px;
        opacity: 1;
    }
}
