.adminHeader {
    display: flex;
    justify-content:space-between;
    position: fixed;
    z-index: 1000;
     top: 0;
     left: 0;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(61, 61, 61);

}
