.shopsmain{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: start_component 2s 0s forwards;
        &_products{
            position: relative;
            z-index: 9;
            background-color: rgb(255, 255, 255);
            width: 1200px;
            min-height: 300px;
            padding-top: 10px;
            margin-top: 5px;
            box-shadow: 0px 0px 20px 10px rgb(0, 0, 0);
            &_filter{
                display: flex;
                 justify-content: space-around;
                 align-items: center;
                 // padding: 0;
                height: 40px;
                margin: 1% 0;
                .filter{
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     width: 23%;
                     margin: 0;
                     position: relative;
                      z-index: 10;
                    background-color: #ffff;
                    height: 100%;                    
                    // margin-right: 20px ;
                    border: 1px solid rgb(61,61,61);
                    &::before{
                        content: "";
                        display: block;
                        // background-color: aqua;
                        position: absolute;
                        top: 100%;
                        z-index: 12;
                        width: 100%;
                        height: 15px;
                    }
                    &:hover,
                    &:active{
                        transition: 0.5s;
                        background-color: #ffff;
                        cursor: pointer;
                    }
                    &:hover .filter_options .option{
                        transition: 0.5s;
                        height: 40px;
                        padding: 10px auto;
                    }
                    &_options{
                        position: absolute;
                        z-index: 9;
                        background-color: #ffff;
                         top:110%;
                        width: 100.58%;
                        overflow: hidden;
                        opacity: 1;
                        
                        .option{
                            display: flex;
                             align-items: center;
                             justify-content: center;
                            height: 0px;
                            background-color: #ffff;
                            // border: 1px solid rgb(61,61,61);
                            border-left: 1px solid rgb(61,61,61);
                            border-right: 1px solid rgb(61,61,61);
                            border-top: 1px solid rgb(61,61,61);
                            overflow: hidden;
                        }
                        .option:last-child{
                            border-bottom: 1px solid rgb(61,61,61);
                        }
                    }
                }
                .general::after{
                    content: "";
                    display: block;
                    background-color: rgb(61,61,61);
                    position: absolute;
                    top: 110%;
                    z-index: 14;
                    width: 100%;
                    height: 3px;
                }
            }
            // border: 1px solid rgb(61,61,61);
            // &_list{
            // }
        }
}

@keyframes start_component{
    to{
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.05)
    }
}
