.customerHeader{
    display: flex;
    justify-content:space-between;
    position: fixed;
    z-index: 1000;
     top: 0;
     left: 0;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(61, 61, 61);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.753);
    .logo{
        // position: absolute;
        z-index: 10;
        height: 60px;
        display: flex;
        align-items: center;
        &_square{
            display: inline-block;
            margin: 5px;
            height: 50px;
            width: 50px;
            border: 5px solid rgb(61, 61, 61);
            border-radius: 20%;
        }
        &_brand{
            display: inline-block;
            color:  rgb(61, 61, 61);
            font-size: 25px;
        }
    }
    &_nav{
        position: relative;
        display: flex;
        align-items: center;
        // margin: 0 auto;
        justify-content: center;
        height: 60px;
        li{
            // border: 1px solid black;
            position: relative;
            display: inline-block;
            margin: 10px 15px;
            .nav_title{
                letter-spacing: 2px;
                font-size: 15px;
                font-weight: 100;
                position: relative;
                top: 10px;
                // text-decoration: none;
                // width: 80px;
                &::after{
                    content: "";
                    display: block;
                    height: 30px;
                    width: 100%;
                    position: absolute;
                }
                .link{
                    color: rgb(61, 61, 61);
                }
            }
            &::after{
                content: "";
                display: inline-block;
                width: 0;
                height: 2px;
                background-color: rgb(61, 61, 61);
            }
            &:hover,
            &:active{
                &::after{
                    width: 96%;
                    transition: 0.25s;
                }
            }
            .menu{
                // border: 1px solid black;
                display: none;
                background-color: rgb(61, 61, 61);
                position: absolute;
                width: 200px;
                height: 0;
                top: 48px;
                left: -30px;
                overflow-y: hidden;
                .page{
                    color: rgb(182, 182, 182);
                    display: block;
                    text-decoration: none;
                    margin: 5px 10px;
                    padding: 5px;
                    &:hover,
                    &:active{
                        color: #fff;
                    }
                }
                
            }
            &:hover,
            &:active{
               .menu{
                    animation: scrollMenu 0.5s forwards;
                    display: block;
                } 
            }
        }
    }
    &_icon{
        display: flex;
         align-items: center;
        // position: absolute;
        //  right: 0;
        //  top: 0;
        height: 60px;
        padding-left: 50px;
        &_search_bar{
            display: flex;
            padding: 0 15px;
            position: absolute;
            right: 110px;
            align-items: center;
            border: 2px solid black;
            width: 250px;
            height: 37px;
            border-radius: 20px;
            &_input{
                flex: 2;
                padding-left: 7px;
                border: 0;
                &:active,
                &:focus{
                    outline: none;
                }
            }
        }
        .icon{
            display: inline-block;
            margin:0 10px;
            font-size: 15px;
            color: rgb(61, 61, 61);
            cursor: pointer;
        }
        .icon_cart{
            width: 30px;
            height: 30px;
            transition: all 0.5s linear;
            position: absolute;
            z-index: 11;
            right: 70px;
            top: 17px;
            .fa-cart-shopping{
                font-size: 25px;
            }
            .main_cart{
                display: block;
                z-index: 12;
                position: absolute;
                top: 2px;
                right: 0;
                width: 0;
                height: 0;
                border-radius: 5px;
                opacity: 0;
                transition: all 0.25s linear;
            }
            &:hover,
            &:active{
                .main_cart{
                    background-color: #d7d7d7;
                    width: 380px;
                    height: 500px;
                    top: 45px;
                    right: -67px;
                    opacity: 1;
                    &::before{
                        content: "";
                        display: block;
                        position: absolute;
                        top: -30px;
                        left: 0;
                        width: 380px;
                        height: 35px;
                        z-index: 20;
                    }
                    .main_cart_btn{
                        display: initial;
                    }
                }   
            }
        }
        .icon_people{
            display: block;
            position: absolute;
            z-index: 10;
            top: 10px;
            right: 0px;
            height: 40px;
            padding-top: 5px;
            transition: all 0.2s linear;
            &:hover,
            &:active{
                // background-color: #ebebeb;
                .icon_people_navs{
                    top: 65px;
                    right: 5px;
                    width: 100px;
                    height: 87px;
                    opacity: 1;
                    &_nav::before{
                        content: "";
                        display: block;
                        height: 35px;
                        width: 100px;
                        position: fixed;
                         top: 35px;
                         right: 5px;
                    }
                }
            }
            .profile{
                font-size: 25px;
            }
            &_navs{
                display: block;
                // display: none;
                position: fixed;
                right: -1px;
                top: 50px;
                background-color: #ebebeb;
                border-radius: 5px;
                width: 0;
                height: 0;
                overflow: hidden;
                opacity: 0;
                transition: all 0.2s linear;
                &_nav{
                    display: block;
                    text-align: right;
                    padding: 5px 15px;
                    margin: 1px;
                    font-size: 15px;
                    border-radius: 5px;
                    &:hover{
                        background-color: rgb(197, 197, 197);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.space{
    display: block;
    height: 60px;
    // background-color: aqua;
}

@keyframes scrollMenu {
    from{
        
        height: 0px;
    }
    to{
        height: 175px;
    }
}
