$browse: #B38B59;
$green: #113E21;
$gray: #F0F0F0;
$white: #FEFEFE;
.product_card{
    display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
    position: relative;
    background-color: $gray;
    padding-bottom: 10px;
    border: 2.5px $green solid;
    border-radius: 5px;
    &_img{
        aspect-ratio: 1/1;
        width: 95%;
        margin: 2.5%;
        border: 1px $green solid;
        border-radius: 5px;
    }
    &_name,
    &_author,
    &_price{
        all: unset;
        display: block;
        text-align: center;
        color: $green;
        width: 90%;
    }
    &_name{
        display: block;
        min-height: 54px;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 2px;
    }
    &_author{
        margin: 5px auto 10px;
        color: grey;
    }
    &_btn{
        all: unset;
        display: block;
        margin: 10px auto;
        padding: 5px 40px;
        border: 2px $green solid;
        border-radius: 5px;
        color: $green;
        font-size: 0.9rem;
        letter-spacing: 2px;
        transition: all 0.25s linear;
        &:hover,
        &:active{
            background-color: $green;
            color: $gray;
            cursor: pointer;
        }
    }
}
