$browse: #B38B59;
$green: #113E21;
$gray: #F0F0F0;
$white: #FEFEFE;
.homepage{
    .bestsale_title{
        display: flex;
        justify-content: center;
        background-color: #113e21;
        min-width: 1200px;
        margin: 30px 5px 0;
        line-height: 50px;
        color: $white;
        font-size: 2rem;
        
    }
    .bestsales{
        display: flex;
        justify-content: center;
        // background-color: #30210e3b;
        min-width: 1200px;
        margin: 0 5px 20px;
    }
    .portfolio{
        width: 100%;
        background-color: $green;
        padding-top: 10px;
        &_title{
            display: block;
            margin: 0.7rem auto;
            text-align: center;
            // line-height: 50px;
            font-size: 2.5rem;
            letter-spacing: 5px;
            color: $gray;
        }
        &_item{
            display: inline-block;
            position: relative;
            aspect-ratio : 1 / 1;
            width: 24.6%;
            margin: 0.1% 0.2%;
            &_img{
                height: 100%;
                width: 100%;
            }
            &_description{
                display: flex;
                 flex-direction: column;
                 justify-content: center;
                 align-items: center;
                position: absolute;
                 left: 2%;
                 bottom: 3%;
                 z-index: 5;
                height: 0;
                width: 96%;
                background-color: #9c805dc2;
                border: 2% #f0f0f000 solid;
                overflow: hidden;
                transition: all 0.3s linear;
                &_title, &_content{
                    all: unset;
                    color: $gray;
                }
                &_title{
                    font-size: 1.3rem;
                    margin: 10px;
                }
            }
            &:hover,
            &:active{
                .portfolio_item_description{
                    height: 95%;
                }
            } 
        }
    }
}