.bestsale_product{
    display: inline-block;
    width: 18%;
    margin: 0 1% 1%;
    background-color: rgb(255,255,255);
    // border: 1px solid rgb(61,61,61);
    &_around{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        border-left: 2px solid rgba(61, 61, 61, 0);
        border-right: 2px solid rgba(61, 61, 61, 0);
        &::before{
            content: "";
            display: block;
            background-color: rgb(61,61,61);
            height: 2px;
            width: 0;
            position: absolute;
             top: 0;
             left: 0;
        }
        &::after{
            content: "";
            display: block;
            background-color: rgb(61,61,61);
            height: 2px;
            width: 0px;
            position: absolute;
             bottom: 0;
             right: 0;
        }
        &_img{
            width: 100%;
            // margin: 1%;

        }
        &_name{
            font-size: 19px;
            letter-spacing: 1px;
        }
        &_producer{
            display: inline-block;
            font-size: 12px;
            margin: 5px 0;
            color: rgb(61,61,61)
        }
        &_price{
            display: inline-block;
            font-size: 13px;
            margin: 5px 0;
        }
        &_btn{
            display: inline-block;
            padding:5px 20px;
            margin: 5px auto 20px;
            outline: 2px solid rgb(61,61,61);
            color: rgb(61,61,61);
            font-size: 15px;
            letter-spacing: 2px;
        }
        &:hover,
        &:active{
            animation: hover_border_leftright 0.8s 0s forwards;
            &::before,
            &::after{
                animation: hover_border_topbot 0.8s 0s forwards;
            }
        }
        &:hover &_btn,
        &:active &_btn{
            transition: 0.5s;
            background-color: rgb(61,61,61);
            color: aliceblue;
            // animation: hover_button 0.3s 0.3s forwards;
        }    
    }
}
@keyframes hover_border_leftright {
    to{
        border-left: 2px solid rgb(61,61,61);
        border-right: 2px solid rgb(61,61,61);
    }
}

@keyframes hover_border_topbot {
    to{
        width: 100%;
    }
}

// @keyframes hover_button {
//     from{
//         background-image: linear-gradient(180deg,rgb(61,61,61) 0%, aliceblue);
//     }
//     to{
//         background-image: linear-gradient(180deg,rgb(61,61,61) 100%, aliceblue);
//         color: aliceblue;
//     }
// }