.productbestsaller{
    position: relative;
    top: 30px;
    padding-top: 20px;
    padding-bottom: 20PX;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding-top: 50px;
    animation: start_bestsale 1s 0s forwards;
    // border: 1px solid black;
    .title{
        font-size: 30px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }
    .products{
        display: flex;
        justify-content: space-around;
        width: 80%;
        &_product{
            width: 19.5%;
            // border: 1px solid black;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb(255, 255, 255);

            .img{
                width: 100%;
                // border: 1px solid black;
            }
            .name{
                display: block;
                margin: 0 5px 5px 5px;
                font-size: 17px;
                font-weight: 700;
            }
            .producer{
                font-size: 12px;
            }
            .price{
                display: block;
                margin: 5px;
                font-size: 15px;
            }
            &_btn{
                display: block;
                background-color: rgb(255, 255, 255);
                margin:5px auto 20px;
                padding: 5px 30px;
                border: 1px solid rgb(61,61,61);
                color: rgb(61,61,61);
                font-size: 12px;
                letter-spacing: 1px;
                font-weight: 700;
                transition: 0.25s;
                &:hover,
                &:active{
                    background-color: rgb(61,61,61);
                    color: aliceblue;
                }
            }
        }
    }
}

@keyframes start_bestsale {
    to{
        top: 0px;
        // background-color: red;
    }
}

