.login{
    display: flex;
     justify-content: center;
     align-items: center;
    background-image: url('./loginbg.jpg');
    background-size:cover;
    width: 100vw;
    height: 100vh;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 400px;
        height: 400px;
        background-color: rgba(171, 171, 171, 0.443);
        border: 2px solid rgb(255, 255, 255, .5);
        border-radius: 20px;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        .form-box {
            // width: 300px;
            // padding: 40px;
            // margin: 0;
            h2 {
            width: 300px;
            font-size: 2em;
            color: #162938;
            text-align: center;
        }
        .input-box {
            // display: inline-block;
            position: relative;
            width: 300px;
            height: 40px;
            border-bottom: 2px solid #162938;
            margin: 15px 0;
            padding: 0 30px 0 5px;
            // border: 1px solid rgb(61,61,61);

        }
    
        .input-box label {
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            font-size: 1em;
            color: #162938;
            font-weight: 500;
            pointer-events: none;
            transition: .5s;
        }
    
        .input-box input:focus,
        .input-box input:valid {
            &+label{
                top: -5px ;
            }
        }
    
        .input-box input{
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            outline: none;
        }
    
        .input-box .icon {
            position: absolute;
            right: 8px;
            top: -10px;
            font-size: 1.2em;
            color: #162938;
            line-height: 57px;
        }
        
        .remember-forgot {
            // width: 100%;
            display: flex;
            justify-content: space-between;
            // border: 1px solid rgb(61,61,61);
            font-size: .9em;
            color: #162938;
            font-weight: 500;
            margin: 0px 0 15px;
            display: flex;
            justify-content: space-between;
        }
    
        .remember-forgot label input{
            accent-color: #162938;
            margin-right: 3px;
        }
    
        .remember-forgot a {
            color: #162938;
            text-decoration: none;
        }
    
        .remember-forgot a:hover {
            text-decoration: underline;
        }
    
        .btn {
            width: 300px;
            height: 45px;
            margin-bottom: 15px;
            background: #162938;
            border: none;
            outline: none;
            border-radius: 6px;
            font-size: 1em;
            color: #fff;
            font-weight: 500;
        }
        .link_a{
            display: inline-block;
            // width: 50%;
            // border: 1px solid rgb(61,61,61);
        }
        }
    }




  
}