.shops{
    &_poster{
            background-image: linear-gradient(90deg,rgba(3, 3, 3, 0.39) 100%,#ffff), url("./posterShop.jpeg") ;
            background-position: fixed;
            background-position-y: -300px;
            background-attachment: fixed;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 400px;
            width: 100%;
            &_logo{
                // position: absolute;
                z-index: 10;
                height: 50px;
                display: flex;
                align-items: center;
                scale: 3;
                &_square{
                    display: inline-block;
                    margin: 5px;
                    height: 45px;
                    width: 45px;
                    border: 5px solid #ffffffb5;
                    border-radius: 20%;
                }
                &_brand{
                    display: inline-block;
                    color:  #ffffffb5;
                    font-size: 32px;
                    letter-spacing: 8px;
                    margin-left: 8px;
                }
            }
        }
}