// src/_corners.scss
$browse: #B38B59;
$green: #113E21;
$gray: #F0F0F0;
$white: #FEFEFE;
::-webkit-scrollbar {
 display: none;
} 
// :root {

// }

*{
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./assets/img/background.jpg");
  background-attachment: fixed;
  background-size: cover;
}
button{
  cursor: pointer;
}
li, input{
  all: unset;
}
.link{
  color: unset;
  text-decoration: unset;
}

