.slides{
    position: relative;
    box-sizing: border-box;
    aspect-ratio : 2.5;
    // background-color: rgba(0, 0, 0, 0.657);
    width: 100%;
    margin: 5px 10px;
    padding: unset;
    border-radius: 5px;
    
    &_img{
        border-radius: 5px;
        width: calc(100% - 20px);
        height: calc(100% + 4px);
        animation: start_img 1s forwards;
        opacity: 0;
        margin-bottom: -4px;
    }
    &_content{
        display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
        position: absolute;
         top: 0;
         left: 0;
        background-color: #00000046;
        height: 100%;
        width: 100%;
        color: #ffffff;
        &_title{
            margin-top: -180px;
            font-size: 3em;
            opacity: 0;
            animation: start_content 0.5s forwards;
        }
        &_description{
            font-size: 1.5em;
            width: 40%;
            text-align: center;
            margin-top: 10px;
        }
    }
    &_control{
        height: 100%;
        width: 100%;
        position: absolute;
        top:0;
        border-radius: 5px;
        &_prev,
        &_next{
            all: unset;
            display: flex;
             justify-content: center;
             align-items: center;
            height: 100%;
            width: 150px;
            position: absolute;
             top:0;
            transition: 0.2s linear;
            &_icon{
                color: #ffffff88;
                font-size: 2rem;
                transition: 0.2s linear;
            }
            &:hover &_icon,
            &:active &_icon{
                color: #ffffff;
            }
        }
        &_prev{
            left: 0;
            background-image: linear-gradient(90deg, rgba(61, 61, 61, 0.514), rgba(61, 61, 61, 0) );
            &:hover,
            &:active{
                background-image: unset;
                box-shadow: 10px 0 10px 0 rgba(248, 248, 248, 0.048);
            }
        }
        &_next{
            right: 0;
            background-image: linear-gradient(90deg, rgba(61, 61, 61, 0), rgba(61, 61, 61, 0.514) );
            &:hover,
            &:active{
                background-image: unset;
                box-shadow: -10px 0 10px 0 rgba(248, 248, 248, 0.048);
            }
        }
    }
}

@keyframes start_img {
    to{
        opacity: 1;
    }
}

@keyframes start_content {
    to{
        // height: 100%;
        margin-top: -150px;
        padding-top: unset;
        opacity: 1;
    }
}