.main_cart_around{
    height: 450px;
    overflow-y: scroll;
    // outline: 1px solid black;

    &::-webkit-scrollbar { 
        width: 0 !important;
        display: none; 
    }
    &_product{
        background-color: #ffff;
        display: flex;
        position: relative;
        z-index: 11;
        align-items: center;
        height: 70px;
        margin: 5px;
        transition: all 0.2s linear;
        border-radius: 5px;
        &:hover{
            transform: scaleX(1.02);
            border: 1px solid black;
        }
        &_img{
            height: 100%;
            border-radius: 5px;
            // outline: 1px solid black;
        }
        &_infor{
            color: black;
            font-style: oblique;
            &_name{
                text-transform: uppercase;
                font-size: 16px;
            }
            &_price,&_quantity{
                display: inline-block;
                margin-top: 5px;
                font-size: 14px;
            }
            &_price{
                margin-right: 40px;
            }
        }
        &_del_btn{
            display: block;
            position: absolute;
            right: 20px;
            padding: 5px;
            font-size: 20px;
            color: rgb(216, 215, 215);
            &:hover{
                color: black;
            }
        }
    }
}
.main_cart_btn{
    display: none;
    background-color: rgb(22,22,22);
    // width: 50%;
    height: 40px;
    width: 180px;
    margin: 5px;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    border-radius: 5px;
    &:hover,
    &:active{
        background-color: rgb(61,61,61);
    }
}

